<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="public/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/icons/favicon-16x16.png">
    <link rel="manifest" href="public/icons/site.webmanifest">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    </body>
    <title>poop counter</title>
  </head>
<body style="background-color: #8B4513; margin: 0;">

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <p style="text-align: center; color: white;">Your centered text goes here</p>
</div>

  </body>
</html>
